<!DOCTYPE html>                                   <html>
        <head>                                                    <title>About me</title>                                                     </head>
	<body>
                <header>
			<a href="home.html">home</a>
			<a href="contact.html">Contact</a>
			<a href="#">About</a>
		</header>                                 <main>                                                    <p>I hate hard life</p>                                                </main>                                           <footer>&copy 2022 Site maintained and Designed by Prideland Okoi</footer>                  </body>                                   </html>
