<!DOCTYPE html>                                   <html>
        <head>                                                    <title>Contact me</title>                                                     </head>                                           <body>
		<header> <a href="home.html">Home</a>
			<a href="#">contact</a>
			<a href="about.html">About</a>
		</header>                                 <main>                                                    <p> Full name: <br/>
			<input type="text"/>
			<br/>
			phone number:
			<br/>
			<input type="tel" minlength="11" maxlength="11"/>
			<br/>
			Email Address:
			<br/>
			<input type"email"/>
			Message:
			<br/>
			<input type="text" maxlength="250" />
			<input type="submit" value="submit"/>
			</p>                                                </main>                                           <footer>&copy 2022 Site maintained and Designed by Prideland Okoi</footer>                  </body>                                   </html>
